@import './mixin.scss';

.name {
    font-family: "Montserrat", sans-serif;
    width: 1000px;
    height: auto ;
   
    margin: auto !important;
    padding: 60px 0;



    h2 {
        font-weight: 400;
        margin: 10px 0px;
        font-size: 24px;
        line-height: 1.5;
        color: white;
    }

    p {
        font-size: 15px;
        line-height: 1.5;
        color: gray;
        padding: 10px 0;


    }

    hr {
        width: 150px;
        color: white;

    }
    
    @include tabletmax {
            width: 800px;
          
        }

        @include tabletmax1 {
            width: 600px;
           
        }

        @include tabletmax2 {
            width: 400px;
            
        }

        @include mobilemin {
            width: 300px;
            
        }

}